<h1>行先を決めよう！～Direction of trip～</h1>
<h3>みんなの行程</h3>
<h3>投稿を検索</h3>
   <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>
<% if user_signed_in? %>
<%= link_to "新規投稿へ", new_tweet_path %>
<%= link_to "マイプラン作成", new_preparation_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>
<% unless user_signed_in? %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path %> 
<% end %>
<% if user_signed_in? %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.body %>
      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>
      <%= link_to "詳細へ", tweet_path(t.id) %>
    </div>
  <% end %>
</div>